<link rel="stylesheet" href="/style/{{defaultStlye}}/home/search.css">
<div id="search">
    <div class="title">
        <i class="fas fa-search"></i>
        {{member_name}}
    </div>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="result">
            <ul>
                <li class="title">
                    <ul>
                        <li class="icon"><i class="fas fa-file-signature "></i></li>
                        <li class="name">{{texts.bookName}} :</li>
                    </ul>
                </li>
                <li class="value">
                    aaaaaa
                </li>
                <li class="title">
                    <ul>
                        <li class="icon"><i class="fas fa-file-signature "></i></li>
                        <li class="name">{{texts.author}} :</li>
                    </ul>
                </li>
                <li class="value">
                    bbbbb
                </li>
                <li class="title">
                    <ul>
                        <li class="icon"><i class="fas fa-file-signature "></i></li>
                        <li class="name">{{texts.category}} :</li>
                    </ul>
                </li>
                <li class="value">
                    bbbbb
                </li>
            </ul>
        </div>

        <div class="result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus libero officia, repellat accusantium
            dolorum beatae. Vitae voluptatibus nostrum nisi exercitationem, repudiandae doloremque voluptatum deserunt
            aliquam consequuntur perferendis delectus tempora.
        </div>
        <div class="result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus libero officia, repellat accusantium
            dolorum beatae. Vitae voluptatibus nostrum nisi exercitationem, repudiandae doloremque voluptatum deserunt
            aliquam consequuntur perferendis delectus tempora.
        </div>
        <div class="result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus libero officia, repellat accusantium
            dolorum beatae. Vitae voluptatibus nostrum nisi exercitationem, repudiandae doloremque voluptatum deserunt
            aliquam consequuntur perferendis delectus tempora.
        </div>
    </div>
</div>